# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Simulation outputs
simulations/project1/output/**
simulations/project1/sterr.txt
simulations/project1/stout.txt

# Build folder
build*/

# # VS Code folder
# .vscode
